[Unit]
Description=AuraStatusClientDaemon

[Service]
ExecStart=/opt/aura_status_client.py
Restart=always
Type=forking
PIDFile=/var/run/aura_status_client_daemon.pid

[Install]
WantedBy=multi-user.target
